@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-size: 10px;
  --white: #fff;
  --black: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  word-break: keep-all;
  line-break: strict;
}
html,
body {
  width: 100%;
  background-color: var(--black);
}
/* Korean */
.duo-text-box span,
.suites-card-bg .sc-head h3,
.guide-heading span,
.guide-heading h1,
.rotate-screen p,
.faq-container .accordion-body p,
.faq-container .accordion-button h5,
.nest-bottom h5,
.nest-grid-card p,
.notes-card h6,
.notes-card p,
.scb-card-right p,
.scb-card-left p,
.scb-card-left h6,
.sc-head-span span,
.cbc-content p,
.cbc-content h6,
.cbc-content p,
.section-heading > p,
.mapcard-left p,
.mapcard-left h5 i,
.world-text-box p,
.world-text-box h2 span,
.hero-content-box p,
.mcr-box p,
.footer-top span {
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* English Text */
.mapcard-left h5 span,
.mapcard-left h5,
.nest-bottom p,
.mcr-box span,
.footer-content > p {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.mcr-box p i {
  font-family: "Lexend", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.rotate-screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90000;
  display: none;
  background-color: #000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rotate-screen p {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}
.rotate-screen img:nth-child(3) {
  width: 15rem;
  object-fit: contain;
}
.rotate-screen img:nth-child(1) {
  width: 80%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0.75;
}
@media screen and (min-width: 300px) and (max-width: 875px) and (orientation: landscape) {
  .rotate-screen {
    display: flex;
  }
}
body {
  transition: 0.5s;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  background-color: var(--black);
}
body::-webkit-scrollbar-thumb {
  background-color: #282828;
  border-radius: 1000px;
}
.box {
  width: 100%;
  max-width: 1500px;
  padding: 0 5rem;
  margin: 0 auto;
}
.app a {
  text-decoration: none;
  transition: 0.35s;
}
.fatface {
  font-family: "Abril Fatface", "Lexend", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  width: 100%;
  background-color: var(--black);
  z-index: 1001;
  position: relative;
  transition: 0.5s;
  border-bottom: 1px solid #484848;
  position: sticky;
  top: 0;
}
.header-content {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-left > * {
  margin: 0 2rem 0 0;
}
.header-left img {
  width: max-content;
  height: 5rem;
  object-fit: contain;
  object-position: left;
}
.header-left a {
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 500;
  text-transform: uppercase;
}
.header-left a span {
  color: #bcfb69;
}
.hmb-content a span {
  color: #bcfb69;
}
.header-left a:hover {
  color: var(--white);
  opacity: 0.75;
}
.header-left div {
  width: 1px;
  height: 2rem;
  background-color: var(--white);
}
header .dropdown button {
  background-color: #1d1b1f;
  border: 0;
  font-size: 1.65rem;
  padding: 0.35rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: unset !important;
}
header .dropdown button:active,
header .dropdown button:hover,
header .dropdown button:focus-visible,
header .dropdown button:focus-within,
header .dropdown button:visited,
header .dropdown button:target,
header .dropdown button:focus,
header .dropdown button.btn.show:active,
header .dropdown button.btn.show:hover,
header .dropdown button.btn.show:focus-visible,
header .dropdown button.btn.show:focus-within,
header .dropdown button.btn.show:visited,
header .dropdown button.btn.show:target,
header .dropdown button.btn.show:focus {
  background-color: #1d1b1f !important;
  box-shadow: unset !important;
  border: 0 !important;
  color: #fff !important;
}
header .dropdown button.btn-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #1d1b1f !important;
  --bs-btn-border-color: #1d1b1f !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #1d1b1f !important;
  --bs-btn-hover-border-color: #1d1b1f !important;
  --bs-btn-focus-shadow-rgb: 0, 0, 0 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #1d1b1f !important;
  --bs-btn-active-border-color: #1d1b1f !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #1d1b1f !important;
  --bs-btn-disabled-border-color: #1d1b1f !important;
}
header .dropdown button::after {
  display: none;
}
header .dropdown button svg {
  font-size: 2rem;
  margin: 0 0 0 1rem;
}
header .dropdown .dropdown-menu {
  background-color: #1d1b1f !important;
  border-radius: 0;
  padding: 0.25rem 0 !important;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35) !important;
}
header .dropdown .dropdown-menu a {
  font-size: 1.35rem;
  padding: 0.15rem 1rem;
  color: var(--white);
}
header .dropdown .dropdown-menu a:hover {
  background-color: #1d1b1f !important;
  opacity: 0.75;
}
footer {
  width: 100%;
  background-color: #0b0b0b;
  padding: 2.5rem 0;
  position: relative;
  z-index: 1000;
}
.footer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-top {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-top span {
  font-size: 1.25rem;
  color: var(--white);
  display: flex;
  width: max-content;
}
.footer-top div {
  width: 1px;
  height: 2rem;
  background-color: var(--white);
  margin: 0 1.5rem;
}
.footer-content > p {
  font-size: 1.15rem;
  color: #777777;
  margin: 1rem 0 0 0;
  text-align: center;
}
.header-mob-menu-icon {
  display: none;
}
.header-mob-menu-icon svg {
  font-size: 2.5rem;
  color: var(--white);
}
.header-mob-box {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10001;
  display: flex;
  justify-content: flex-end;
}
.header-bg-close {
  width: 100%;
  height: 100%;
  z-index: 10001;
  position: absolute;
  top: 0;
  left: 0;
}
.header-mob {
  width: 60%;
  height: 100%;
  z-index: 10002;
  position: relative;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.35);
}
.header-mob-head {
  width: 100%;
  background-color: var(--black);
  border-bottom: 1px solid #484848;
}
.hmh-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 7rem;
}
.hmh-content img {
  width: max-content;
  height: 4rem;
  object-fit: contain;
}
.header-mob-body {
  width: 100%;
  height: calc(100vh - 7rem);
  background-color: #0a0a0a;
  padding: 3.5rem 0;
}
.hmb-content {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hmb-content > * {
  margin: 0 0 3rem 0;
}
.hmb-content a {
  font-size: 2rem;
  color: var(--white);
  font-weight: 500;
}
.hmb-content > a {
  text-transform: uppercase;
}
.hmb-content a:hover {
  color: var(--white);
  opacity: 0.75;
}
.section-heading {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 7.5rem 0 2.5rem 0;
  justify-content: center;
}
.section-heading > p {
  font-size: 1.5rem;
  color: var(--white);
  text-align: center;
  max-width: 500px;
}
.section-heading-box {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-heading-box > div {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-heading-box h3 {
  font-size: 5rem;
  color: var(--white);
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.section-heading-box span {
  display: flex;
  width: 100%;
  margin: 1rem 0 2rem 0;
  height: 3px;
  background: linear-gradient(to right, #bcfb69, #26bbac);
}
@media screen and (max-width: 900px) {
  .footer-top {
    flex-direction: column;
  }
  .footer-top div {
    display: none;
  }
}
@media screen and (max-width: 875px) {
  .header-left *:not(:first-child) {
    display: none;
  }
  .header-right .dropdown {
    display: none;
  }
  .header-mob-menu-icon {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .header-left img {
    height: 4rem;
  }
  .section-heading-box h3 {
    font-size: 2.5rem;
  }
  .section-heading-box span {
    margin: 0.75rem 0 1.5rem 0;
    height: 2px;
  }
  .section-heading {
    padding: 2.5rem 0;
  }
  header .dropdown button {
    font-size: 2rem;
    padding: 0;
    background-color: transparent;
  }
  header .dropdown button svg {
    font-size: 2.25rem;
  }
  header .dropdown button:hover,
  header .dropdown button:active,
  header .dropdown button:focus-visible,
  header .dropdown button:focus {
    background-color: transparent !important;
  }
  header .dropdown .dropdown-menu a {
    font-size: 1.75rem;
    padding: 0.5rem 2.5rem;
  }
}
