.nest-section {
  width: 100%;
  background-color: var(--black);
  min-height: calc(100vh - 7rem);
  padding: 0 0 15rem 0;
  position: relative;
  max-width: 100vmin;
  overflow-x: hidden;
}
.nest-grid {
  width: 100%;
  padding: 2.5rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10rem 5rem;
  max-width: 750px;
  margin: 0 auto;
}
.nest-grid-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.nest-grid-card .dull-img,
.nest-grid-card .color-img {
  width: 75%;
  object-fit: contain;
  max-height: 4rem;
}
.nest-grid-card .color-img {
  display: none;
}
.nest-grid-card:hover .color-img {
  display: block;
}
.nest-grid-card:hover .dull-img {
  display: none;
}
.nest-swoosh {
  width: 100%;
  object-fit: contain;
  margin: 2px 0;
}
.nest-grid-card p {
  font-size: 1.35rem;
  color: var(--white);
  font-weight: 600;
  margin: 1rem 0;
}
.nest-grid-card h6 {
  font-size: 1.5rem;
  color: var(--white);
  font-weight: 600;
  margin: 1rem 0 0 0;
  text-align: center;
}
.nest-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15rem 0 0 0;
}
.nest-bottom img {
  width: max-content;
  height: 2px;
}
.nest-bottom h5 {
  font-size: 3rem;
  background: linear-gradient(to right, #bcfb69, #26bbac);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1.5rem 0;
  font-weight: 700;
}
.nest-bottom p {
  font-size: 2.25rem;
  color: #616161;
  font-weight: 700;
  margin: 1.5rem 0 0 0;
}
.nest-img-box {
  position: relative;
}
.nsimg-1 {
  width: 25rem;
  position: absolute;
  top: 10%;
  left: -5%;
}
.nsimg-2 {
  width: 5rem;
  position: absolute;
  top: 20%;
  left: -5%;
}
.nsimg-2 {
  width: 4rem;
  position: absolute;
  top: 35%;
  left: -2.5%;
}
.nsimg-3 {
  width: 4rem;
  position: absolute;
  top: 15%;
  right: 0;
}
.nsimg-4 {
  width: 25rem;
  position: absolute;
  right: -15%;
  bottom: 10%;
}
.nsimg-5 {
  width: 5rem;
  position: absolute;
  right: 0%;
  bottom: 5%;
}
@media screen and (max-width: 875px) {
  .nest-grid {
    grid-template-columns: 1fr;
  }
  .nest-section {
    padding: 0 0 5rem 0;
  }
  .nest-bottom {
    margin: 10rem 0 0 0;
  }
  .nest-bottom h5 {
    font-size: 2.15rem;
  }
  .nsimg-2,
  .nsimg-3,
  .nsimg-5 {
    display: none;
  }
  .nsimg-1 {
    width: 30rem;
    left: -15%;
  }
  .nsimg-4 {
    bottom: 3%;
  }
}
@media screen and (max-width: 600px) {
  .nsimg-4 {
    transform: translate(35%, 0);
    bottom: 15%;
  }
  .nsimg-1 {
    transform: translate(-35%, 0);
  }
}
