.utility-section {
  width: 100%;
  background-color: var(--black);
  min-height: calc(100vh - 7rem);
  position: relative;
  padding: 0 0 15rem 0;
}
.utility-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem;
}
.plan-card {
  width: 100%;
}
.common-benefits-card {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 20;
}
.common-benefits-card > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 1.25rem;
  left: 0;
  object-fit: cover;
  object-position: top center;
  z-index: 10;
}
.cbc-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 1rem;
  border-left: 3px solid #bcfb69;
  position: relative;
  z-index: 20;
}
.cbc-content p {
  margin: 0;
  font-size: 1.15rem;
  color: var(--white);
}
.cbc-content h6 {
  margin: 0.23rem 0;
  font-weight: 700;
  font-size: 2rem;
  color: var(--white);
}
.common-benefits-card-bg {
  width: 100%;
  padding: 0.35rem 0 0 0;
  border-radius: 1.25rem;
  overflow: hidden;
  position: relative;
}
.common-benefits-card-bg::before {
  content: "";
  width: 100%;
  height: 50%;
  background: linear-gradient(to right, #bcfb69, #26bbac);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.common-benefits-card-bg::after {
  content: "";
  width: 100%;
  height: 70%;
  background: #000;
  position: absolute;
  top: 0.35rem;
  left: 0;
  border-radius: 1.25rem;
  z-index: 11;
}
.suites-card-bg {
  background: linear-gradient(to right, #bcfb69, #26bbac);
  width: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
  padding: 0.2rem;
}
.suites-card-bg .sc-head > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
  z-index: 10;
}
.suites-card-bg .sc-head h3,
.suites-card-bg .sc-head span {
  position: relative;
  z-index: 20;
}
.suites-card {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  border-radius: 1.25rem;
  overflow: hidden;
}
.sc-head {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #404040, #000);
  position: relative;
}
.sc-head h3 {
  font-size: 2.5rem;
  color: var(--white);
  margin: 0 0 0.5rem 0;
}
.sc-head > span {
  font-size: 1rem;
  color: var(--white);
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bcfb69;
  border-radius: 1000px;
  background-color: #111111;
}
.sc-body {
  width: 100%;
  padding: 1.5rem 2.5rem;
}
.scb-card {
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.25rem 0;
}
.scb-card:last-child {
  border-bottom: 0;
}
.scb-card-left,
.scb-card-right {
  width: max-content;
}
.scb-card-left h6 {
  font-size: 1.65rem;
  color: #fff;
  font-weight: 600;
  margin: 0;
}
.scb-card-left p {
  font-size: 1.25rem;
  color: #d4d4d4;
  margin: 0;
}
.scb-card-right p {
  font-size: 1.35rem;
  color: #bcfb69;
  margin: 0;
}
.plans-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-column: 1/-1;
}
.plans-grid .sc-head .duo-text-box h3 {
  background: linear-gradient(to right, #bcfb69, #26bbac);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  position: relative;
}
.duo-text-box {
  width: max-content;
  position: relative;
}
.duo-text-box span {
  color: rgba(255, 255, 255, 0.15);
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -0.85rem) scale(1.075);
}
.notes-card {
  width: 100%;
  border: 1px solid #4d4d4d;
  grid-column: 1/-1;
  padding: 1.5rem;
  border-radius: 1.25rem;
}
.notes-card h6 {
  font-size: 1.35rem;
  font-weight: 700;
  color: #d4d4d4;
  margin: 0 0 1.5rem 0;
}
.notes-card p {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 400;
  color: #d4d4d4;
}
@media screen and (max-width: 875px) {
  .utility-grid,
  .plans-grid {
    grid-template-columns: 1fr;
  }
  .utility-section {
    padding: 0 0 5rem 0;
  }
}
